
<FlexboxLayout 
class="page">
    <StackLayout 
        class="form">
        <Image 
            class="logo" 
            src="~/images/logo.png">
        </Image>
        <Label 
            class="header" 
            text="Bullying Detector">
        </Label>
        <StackLayout 
            class="input-field">
            <TextField 
                class="input" 
                hint="Email" 
                [ngModel]='email' 
                (ngModelChange)='email = $event'>
            </TextField>
            <StackLayout 
                class="hr-light">
            </StackLayout>
        </StackLayout>

        <StackLayout  
            *ngIf="isParent"
            class="input-field">
            <TextField 
                class="input" 
                hint="Password" 
                secure="true"
                [ngModel]="password" 
                (ngModelChange)='password = $event'>
            </TextField>
            <StackLayout 
                class="hr-light">
            </StackLayout>
        </StackLayout>

        <Button 
            text="Verify Mail" 
            *ngIf="!isVerified"
            (tap)="verify()" 
            class="btn btn-primary m-t-20">
        </Button>

        <Button 
            text="Login" 
            *ngIf="isVerified"
            (tap)="submit()" 
            class="btn btn-primary m-t-20">
        </Button>
    </StackLayout>
</FlexboxLayout>