<FlexboxLayout 
    class="page" >
    <ScrollView orientation="vertical">
        <StackLayout 
            class="form">
            <Image 
                class="logo" 
                src="~/images/logo.png">
            </Image>
            <Label 
                class="header" 
                text="Bullying Detector">
            </Label>

            <StackLayout 
                class="input-field">
                <TextField 
                    class="input" 
                    hint="Parent Email" 
                    [ngModel]="usr.parentEmail" 
                    (ngModelChange)='usr.parentEmail = $event'
                    >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>

            <StackLayout  
                class="input-field">
                <TextField 
                    class="input" 
                    hint="Parent Cellphone" 
                    (ngModelChange)='usr.parentCellphone = $event'
                    [ngModel] = "usr.parentCellphone" >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>
            
            <StackLayout 
                class="input-field">
                <TextField 
                    class="input" 
                    hint="Parent Name" 
                    (ngModelChange)='usr.parentName = $event'
                    [ngModel]= "usr.parentName"
                    >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>

            <StackLayout  
                class="input-field">
                <TextField 
                    class="input" 
                    hint="Child Name" 
                    (ngModelChange)='usr.kidName = $event'
                    [ngModel]="usr.kidName"
                    >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>

            <StackLayout 
                class="input-field">
                <TextField 
                    class="input" 
                    hint="Child Cellphone" 
                    (ngModelChange)='usr.kidCellphone = $event'
                    [ngModel] = "usr.kidCellphone"
                    >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>

            <StackLayout  
                class="input-field">
                <TextField 
                    class="input" 
                    hint="Child Email"
                    (ngModelChange)='usr.kidEmail = $event'
                    [ngModel]="usr.kidEmail" 
                    >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>

            <StackLayout  
                class="input-field">
                <TextField #password 
                    class="input" 
                    hint="Password" 
                    (ngModelChange)='usr.password = $event'
                    [ngModel]="usr.password"
                    secure="true"  
                    >
                </TextField>
                <StackLayout 
                    class="hr-light">
                </StackLayout>
            </StackLayout>


            <Button 
                text="Register" 
                (tap)="submit()" 
                class="btn btn-primary m-t-20">
            </Button>
        </StackLayout>
    </ScrollView>
</FlexboxLayout>